@import '~material2-srcs/src/lib/button/button';

.mat-spinner-raised-button, .mat-spinner-button, .mat-spinner-fab, .mat-spinner-mini-fab, .mat-spinner-icon-button {

  &[disabled] {
    background: rgba(0, 0, 0, 0.12);

    .mat-button-wrapper {
      visibility: hidden;
    }
  }

  mat-spinner {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    font-size: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
