@import '~material2-srcs/src/lib/button/button';

.hy-mat-spinner-raised-button, .hy-mat-spinner-button, .hy-mat-spinner-fab, .hy-mat-spinner-mini-fab, .hy-mat-spinner-icon-button {

  &[disabled] {
    background: rgba(0, 0, 0, 0.12);

    .mat-button-wrapper {
      visibility: hidden;
    }
  }

  mat-spinner {
    position: absolute;
    width: 1.6rem !important;
    height: 1.6rem !important;
    font-size: 40%;
    top: calc(50% - .8rem);
    left: calc(50% - .8rem);
    transform: translate(-50%, -50%);

    svg {
      width: 1.6rem !important;
      height: 1.6rem !important;
    }
  }
}
